{% extends 'index.html' %}
{% load staticfiles %}
{% block bodddy %}

<body style="background-image: url( {{ baseim }}/{{ backgrd }});background-size: cover;">
  {% endblock %}
{% block head %}

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/Drone/sub/edit.css' %}" />
   <style>
       .nav_iconn{
           color: white;
           font-size:25px;
           font-family: "Baskerville Old Face";
            padding:10px 10px 10px 10px;
       }
   .op{
       width:250px;
       margin:10px 10px 10px 10px;
       height:50px;
   }
   .tx{
       width:480px;
        margin:5px 5px 5px 5px;
       height:50px;
   }
    .error{
       font-size:20px;
       color:#a21309;
        padding-left:25px;
   }
    {% if user.is_staff %}
   .labe{
       color:white;
       font-size:18px;
   }
   {% else %}
   .labe{
       font-size:18px;
   }
   {%endif%}
   .labee{
       font-size:17px;
   }
   </style>
{% endblock %}
{% block content%}
{% if user.is_staff %}
<br><br><br><br><br><br>


<h1 style="padding-left:10%;margin-top:40px;margin-bottom:30px;color: white ;font-family: 'Cooper Black';">Fill The Details to Post the JOB</h1>
<div class="row" style="width:100%;" >
    <div class="wrapper page-wrapper  " style="margin-left:4%;width:92%;margin-bottom:10%;padding-bottom:0%;height:100%;
    background-image: url({% static 'app/images/PL4.jpg'%});background-size:cover;border:none;">


            <div class="card card-4" style="background-color: transparent;height:auto;" >
                <div class="card-body" style="background-color:transparent;height:1170px; border-radius: 10px; padding:10px 10px 10px 10px;">
                     <form method='get' action='joboffered' >
            <h3>
                   <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating labe">Company Name</label>
                          <input type="text" class="form-control btn-outline-light labee" value="{{ user }}"  name="Company_name" displayed >
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating labe">Email</label>
                          <input type="text" class="form-control btn-outline-light labee" value='{{user.email}}' name="email" >
                        </div>
                      </div>


                      </div>

                     <div class="row">
                         <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating labe">Address</label>
                          <textarea class='form-control btn-outline-light ' name="Address" cols="35" rows="2">{{Fdata.Address}}</textarea>
                            <b class="error">{{first_name_error}}</b>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group labe"> start of internship:</div>
                              <input class='form-control btn-outline-light' type="date" name="Start_of_intern">
                              </div>
                              <div class="col-md-4">
                          <label class="form-group labe">City</label>
                          <input type="text" class="form-control btn-outline-light  " value="{{Fdata.city}}" name="city">

                        </div>
                   </div>

 <div class="row">

                        <div class="col-md-2">

                            <div class="form-group labe">stippend/Salary:</div>
                          <input type="text" class="form-control btn-outline-light labee" name="stipend" >

                      </div>
                           <div class="col-md-2">

                            <div class="form-group labe">The main skill:</div>
                   <select class='form-control btn-outline-light' name="Skills_Required">
                    <option value="python">Python</option>
                    <option value="Cshrap">C#</option>
                    <option value="web">webpage Designing</option>
                    <option value="C">C</option>
                    <option value="Cadvance">C++</option>
                    <option value="java">Java</option>
                    <option value="netframe">.Net Framework</option>
                    <option value="PHP">PHP</option>
                </select></div>
                <div class="col-md-2">
                        <div class="form-group labe">Job Type:</div>

               <select class='form-control btn-outline-light ' name="job_type">
                    <option value="Internship">Internship</option>
                    <option value="Partime">Partime</option>
                    <option value="Fulltime">Fulltime</option>
                </select>
            </div>
             <div class="col-md-4">
     <div class="form-group">
                            <div class="form-group labe">Experienced Programming Langauage</div>
                <select class='form-control btn-outline-light' name="experienced_programming_langauage">
                     <option value="Fresher">Fresher</option>
                    <option value="python">Python</option>
                    <option value="Cshrap">C#</option>
                    <option value="web">webpage Designing</option>
                    <option value="C">C</option>
                    <option value="Cadvance">C++</option>
                    <option value="java">Java</option>
                    <option value="netframe">.Net Framework</option>
                    <option value="PHP">PHP</option>
                </select>

                        </div>
</div>
 <div class="col-md-2">
                        <div class="form-group labe">Years of Experience:</div>

                <select class='form-control btn-outline-light' name="years_of_experience">
                    <option value="0">Fresher</option>
                    <option value="1">1 year</option>
                    <option value="2">2 year</option>
                    <option value="3">3 year</option>
                    <option value="4">4 year</option>
                    <option value="5">5 year</option>
                    <option value="6">6 year</option>
                    <option value="7">7 year</option>
                </select>
            </div>



                      </div>
                      <div class="row">


            </div>

             <div class="row">
                 <div class="col-md-3">
                        <div class="form-group labe">Python:</div>

                    <select class='form-control btn-outline-light'  name="python">
                    <option value="0">0</option>
                 <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
                      <div class="col-md-3">
                        <div class="form-group labe">C#:</div>
                <select class='form-control btn-outline-light'  name="Csharp">
                    <option value="0">0</option>
                 <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
            <div class="col-md-3">
                        <div class="form-group labe">Web designing:</div>
                <select class='form-control btn-outline-light' name="web">
                    <option value="0">0</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
            <div class="col-md-3">
                        <div class="form-group labe">PHP:</div>
                <select class='form-control btn-outline-light' name="PHP">
                    <option value="0">0</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
                      </div>


             <div class="row">
                 <div class="col-md-3">
                        <div class="form-group labe">C :</div>
                <select class='form-control btn-outline-light' name="C">
                    <option value="0">0</option>
                 <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
                      <div class="col-md-3">
                        <div class="form-group labe">C++ :</div>
                <select class='form-control btn-outline-light' name="Cadvance">
                    <option value="0">0</option>
                 <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
            <div class="col-md-3">
            <div class="form-group labe">Java:</div>
                <select class='form-control btn-outline-light' name="java">
                    <option value="0">0</option>
                 <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </div>
            <div class="col-md-3">
                        <div class="form-group labe">.net Framework:</div>
                <select class='form-control btn-outline-light' name="netframe" >
                    <option value="0">0</option>
                     <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select><br>
            </div>
        </div>
        <div class="row">
             <div class="col-md-4">
                        <div class="form-group labe">Your Question</div>
                        <textarea  class='form-control btn-outline-light 'name="Question1"> what is your aim?</textarea>
            </div>
            <div class="col-md-4">
                        <div class="form-group labe">Your Question</div>
                        <textarea class='form-control btn-outline-light ' name="Question2">Why should we give you this job?</textarea>
            </div><br>
                 <div class="col-md-4">
                        <div class="form-group labe">Your Question</div>
                        <textarea class='form-control btn-outline-light '  name="Question3">Why you want this Job?</textarea>
            </div>
        </div>

             <div class="row">
                <div class="col-md-8">
                        <div class="form-group labe">job description</div>
                        <textarea class='form-control btn-outline-light ' rows="7" name="jobdescription"></textarea>
            </div>


                </div>


        </h3><br><br>
        <div class="row">
            <div class="col-md-9" style="float:right;padding-right:10%;"></div>
            <div class="col-md-2">
            <button type="submit" class="btn btn-primary"> Submit</button>
            </div>
            </div>
        </form>
        </div></div></div></div>

{% else %}
<br><br><br><br> <br><br><br><br>
 <div class="row">
                <div  class="col-md-2"></div>
                <div  class="col-md-10">
                        <strong style="font-size:35px;color: white ;font-family: 'Cooper Black'">The Jobs available based on your Skill board Performance
                </strong></div>
            </div>

  {% for company in company_data %}
     <div class="container">
             <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig"  style="padding:10px 10px 10px 10px;border-radius: 10px; ">
              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{company.Company_name}}</h2>
                 <div class="badge-wrap">
                  <span class="bg-primary text-white badge py-2 px-4">{{company.id}}</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">{{company.Location}}</a></div>
                 <div><b>{{company.Skills_Required}}</b></div>
                 <div style="padding-left:15px; "> Stippend:{{company.stipend}}</div>
               </div>
              </div>

              <div class="ml-auto">
                <a href="{% url 'info' id=company.id %}" class="btn btn-primary py-2">View</a>
              </div>
           </div>

         </div>
        </div>



        </div>

     {% endfor %}

    <br><br><br><br>
<br><br><br><br>

{% endif %}





{{Marks}} {{Answer}} {{Answ}}
{% endblock %}